<%= render "shared/navigations" %>
<%= render "devise/shared/tabs", { tab: "expert" } %>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="expert">
    <div class="panel">
      <div class="panel-body">
        <%= form_for current_user, url: update_experts_users_path, method: :post, html: { class: "form-horizontal" } do |f| %>
          <div class="row">
            <div class="form-group">
              <div class="col-sm-12">
                <h2>Be an expert</h2>
                <hr/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <div class="col-sm-3">
                <%= f.label :expert_name, "Name", class: "control-label" %>
              </div>
              <div class="col-sm-9">
                <%= f.text_field :expert_name, class: "form-control" %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <div class="col-sm-3">
                <%= f.label :expert_service, "Service", class: "control-label" %>
              </div>
              <div class="col-sm-9">
                <%= f.text_field :expert_service, class: "form-control" %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <div class="col-sm-3">
                <%= f.label :expert_category_id, "Category", class: "control-label" %>
              </div>
              <div class="col-sm-9">
                <%= f.select :expert_category_id, options_for_select(ExpertCategory.all.map { |e| [e.name, e.id] }, f.object.expert_category_id), include_blank: true, class: "form-control" %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <div class="col-sm-3">
                <%= f.label :expert_introduction, "Introduction", class: "control-label" %>
              </div>
              <div class="col-sm-9">
                <%= f.text_area :expert_introduction, class: "form-control" %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <div class="col-sm-3">
                <%= f.label :specialities, "Specialities", class: "control-label" %>
              </div>
              <div class="col-sm-7" id="specialities-fields">
                <%= f.fields_for :specialities do |speciality| %>
                  <div style="margin-bottom: 5px;">
                    <%= speciality.hidden_field :id %>
                    <%= speciality.text_field :name, class: "form-control" %>
                  </div>
                <% end %>
              </div>
              <div class="col-sm-2">
                <a href="javascript:void(0)" id="add-more-speciality" class="btn btn-primary">Add More</a>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <div class="col-sm-3">
                <%= f.label :skills, "Skills & Methods", class: "control-label" %>
              </div>
              <div class="col-sm-7" id="skills-fields">
                <%= f.fields_for :skills do |skill| %>
                  <div style="margin-bottom: 5px;">
                    <%= skill.hidden_field :id %>
                    <%= skill.text_field :name, class: "form-control" %>
                  </div>
                <% end %>
              </div>
              <div class="col-sm-2">
                <a href="javascript:void(0)" id="add-more-skill" class="btn btn-primary">Add More</a>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <div class="col-sm-3">
                <%= f.label :languages, "Languages", class: "control-label" %>
              </div>
              <div class="col-sm-7" id="languages-fields">
                <%= f.fields_for :languages do |language| %>
                  <div style="margin-bottom: 5px;">
                    <%= language.hidden_field :id %>
                    <%= language.text_field :name, class: "form-control" %>
                  </div>
                <% end %>
              </div>
              <div class="col-sm-2">
                <a href="javascript:void(0)" id="add-more-language" class="btn btn-primary">Add More</a>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <div class="col-sm-3">
                <%= f.label :expert_rate_per_minute, "Rate per mins (USD)", class: "control-label" %>
              </div>
              <div class="col-sm-9">
                <%= f.number_field :expert_rate_per_minute, class: "text_field form-control", step: 0.01 %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <div class="col-sm-3">
                <%= f.label :expert_profile_picture, "Profile Pic", class: "control-label" %>
              </div>
              <div class="col-sm-9">
                <%= image_tag(current_user.expert_profile_picture_url, { style: "max-width: 150px;" }) if current_user.expert_profile_picture_url %>
                  <br/>
                <%= f.file_field :expert_profile_picture, class: "form-control" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <div class="col-sm-12">
                <h2>Status</h2>
                <hr/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <div class="col-sm-3">
                <%= f.label :expert_call_enabled, "Call", class: "control-label" %>
              </div>
              <div class="col-sm-9">
                <div class="col-sm-2">
                  <%= f.radio_button :expert_call_enabled, true, checked: true, value: true %> Call Now
                </div>
                <div class="col-sm-2">
                  <%= f.radio_button :expert_call_enabled, false, value: false %> Arrange Call
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-3">
                <%= f.label :expert_chat_enabled, "Chat", class: "control-label" %>
              </div>
              <div class="col-sm-9">
                <div class="col-sm-2">
                  <%= f.radio_button :expert_chat_enabled, true, checked: true, value: true %> Chat Now
                </div>
                <div class="col-sm-2">
                  <%= f.radio_button :expert_chat_enabled, false, value: false %> Chat Later
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="text-center">
              <%= f.submit "Save", class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
