<div class="media">
  <div class="media-left">
    <%= image_tag(expert.expert_profile_picture_url.presence || "/assets/avatar.jpg", { style: "width: 150px;" })%>
  </div>
  <div class="media-body">
    <div class="row">
      <div class="col-sm-7 col-xs-12">
        <h4 class="media-heading"><%= link_to expert.expert_name, expert_path(expert) %></h4>
        <h5><%= expert.expert_service %></h5>
        <div><%= expert.expert_introduction %></div>
      </div>
      <div class="col-sm-2 col-xs-7">
          <div class="counter-info">
            <h4>4.6 RATING</h4>
            <div class="counter-body">1,260 REVIEWS</div>
          </div>
          <div class="counter-info">
            <h4>9,360</h4>
            <div class="counter-body">READINGS</div>
          </div>
          <div class="counter-info">
            <h4><%= expert.created_at.year %></h4>
            <div class="counter-body">ADVISOR SINCE</div>
          </div>
      </div>
      <div class="col-sm-3 col-xs-5">
         <div class="btn btn-sm btn-danger btn-block btn-arrow arrow-left expert-rate">
            10 minutes for $1.99
         </div>
         <h5>$<%= expert.expert_rate_per_minute %>/min</h5>
         <a class="btn btn-success btn-block">
           <i class="fa fa-phone"></i>
           <%= expert.expert_call_enabled ? 'CALL NOW' : 'CALL LATER' %>
         </a>
         <a class="btn btn-default btn-block">
           <i class="fa fa-comment"></i>
           <%= expert.expert_chat_enabled ? 'CHAT NOW' : 'CHAT LATER' %>
         </a>
      </div>
    </div>
  </div>
</div>
