<%= render "shared/navigations" %>

<div class="row">
  <div class="col-sm-3">
    <%= image_tag(@expert.expert_profile_picture_url.presence || "/assets/avatar.jpg", { style: "width: 80%;", class: "media-object img-cirle" })%>
  </div>
  <div class="col-sm-7">
    <div class="row">
      <h2><%= @expert.expert_name %></h2>
      <h3><%= @expert.expert_service %></h3>
      <div class="row">
        <div class="counter-info col-sm-4">
          <h4><%= @expert.expert_rating.round(1) %> <div id="overall-rating" class="starrr"></div></h4>
          <div class="counter-body"><%= @expert.expert_review_count %> REVIEWS</div>
        </div>
        <div class="counter-info col-sm-4">
          <h4><%= @expert.expert_reading_count %></h4>
          <div class="counter-body">READINGS</div>
        </div>
        <div class="counter-info col-sm-4">
          <h4><%= @expert.created_at.year %></h4>
          <div class="counter-body">ADVISOR SINCE</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <%= render "availabilites", expert: @expert %>
  </div>
</div>
<br/>
<hr/>
<div class="row">
  <div class="col-sm-4">
    <h4>Specialities</h4>
    <%= @expert.expert_specialities %>
  </div>
  <div class="col-sm-4">
    <h4>Skill & Method</h4>
    <%= @expert.expert_skills_and_methods %>
  </div>
  <div class="col-sm-4">
    <h4>Languages</h4>
    <%= @expert.expert_languages %>
  </div>
</div>
<br/>
<hr/>
<div class="row">
  <div class="col-sm-12">
    <h4>Introduction</h4>
    <p class="text-justify"><%= @expert.expert_introduction %></p>
  </div>
</div>
<br/>
<hr/>
<div class="row">
  <div class="col-sm-12">
    <h4>Rating & Reviews</h4>
    <%= render "reviews" %>
  </div>
</div>
<br/>
<% if user_signed_in? %>
  <hr/>
  <div class="row">
    <div class="col-sm-12">
      <h4>Customer Review</h4>
      <%= render "review_form" %>
    </div>
  </div>
  <br/>
<% end %>
<div class="row">
  <div class="col-sm-12">
    <%= link_to "Back", experts_path, class: "pull-right" %>
  </div>
</div>
<script>
  $(function() {
    $('#overall-rating').starrr({
      rating: <%= @expert.expert_rating.round %>,
      readOnly: true
    });
    $('#overall-rating-2').starrr({
      rating: <%= @expert.expert_rating.round %>,
      readOnly: true
    });

    $('#rating').starrr({
      rating: 0,
      change: function(e, value){
        $('#review_rating').val(value);
      }
    });
  });
</script>
