<div class="row">
  <div class="col-sm-2">
    <%= image_tag(@expert.expert_profile_picture_url, { style: "max-width: 150px;" }) if @expert.expert_profile_picture_url %>
  </div>
  <div class="col-sm-8">
    <h2><%= @expert.expert_name %></h2>
    <h3><%= @expert.expert_service %></h3>
    <div class="col-sm-4">
      <h4>
        1,260
        <br/>
        REVIEWS
      </h4>
    </div>
    <div class="col-sm-4">
      <h4>
        9,360
        <br/>
        READINGS
      </h4>
    </div>
    <div class="col-sm-4">
      <h4>
        2004
        <br/>
        ADVISOR SINCE
      </h4>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="expert-rate">
      $<%= @expert.expert_rate_per_minute %>/min
    </div>
    <br/>
    <div>
      <%= @expert.expert_call_enabled ? 'CALL NOW' : 'CALL LATER' %>
    </div>
    <br/>
    <div>
      <%= @expert.expert_chat_enabled ? 'CHAT NOW' : 'CHAT LATER' %>
    </div>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-sm-4">
    <%= @expert.expert_specialities %>
  </div>
  <div class="col-sm-4">
    <%= @expert.expert_skills_and_methods %>
  </div>
  <div class="col-sm-4">
    <%= @expert.expert_languages %>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-sm-12">
    <%= @expert.expert_introduction %>
  </div>
</div>
